.blog-nav {
    min-width: 300px;
    @include laptop {
        min-width: 260px;
    }
    @include tablets {
        transition: .5s;
        width: 0;
        min-width: 0;
        background-color: #6c9c5a;
        margin-right: 37px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.blog-nav_active {
    @include tablets {
        width: 100%;
        min-width: 300px;
    }
    .blog-nav__list {
        @include tablets {
            padding: 20px 30px;
        }
    }
}

.blog-nav__list-wrap {
    position: sticky;
    top: 15px;
    @include tablets {
        top: 0;
    }
}

.blog-nav__item {
    z-index: 20;
    text-align: right;
    margin-bottom: 25px;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
}

.blog-nav__link {
    transition: .5s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 42px;
    font-weight: bold;
    color: #455a64;
    text-decoration: none;
    &:before {
        transition: .7s;
        content: "";
        background-color: #6c9c5a;
        bottom: 0%;
        top: 0%;
        display: block;
        position: absolute;
        right: -15px;
        transition: .3s;
        width: 0px;
    }
    &:hover {
        color: #6c9c5a;
    }
    &:hover:before {
        width: 4px;
    }
    @include tablets {
        &:before {
            display: none;
        }
        color: rgb(100%, 100%, 100%, .7);
        &:hover {
            color: rgb(100%, 100%, 100%, 1);
        }
    }
}

.blog-nav__item_active {
    border-right: 3px solid #6c9c5a;
    font-weight: 700;
    .blog-nav__link {
        color: #6c9c5a;
    }
}

.trigger {
    display: none;
    @include tablets {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        width: 60px;
        height: 80px;
        background-color: #6c9c5a;
        right: -30px;
        top: 36%;
        border-radius: 50%;
        cursor: pointer;
    }
}

.nav__svg {
    fill: rgb(100%, 100%, 100%, .7);
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
    margin-right: 7px;
    transition: .4s;
    &:hover {
        fill: rgb(100%, 100%, 100%, 1)
    }
}