extends ../main.layout.pug

block variables
  - var title = 'Обо мне';

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPL1e5HQU2mJaKZpHGYzQxBOEOa4AC6mE")
  script(src='about.bundle.js')

block content

  section.about#about
    .about__left

      .about__left-title
        .title
          h2.block-title Обо мне
          +icon('about_header', 'about-header__svg')
        hr.line-title
          
        
        
      .about__left-content
        .user-description
          .user-description__image
            img.user-description__avatar(src='assets/images/users/artem.jpg')
          .user-description__data
            .user-description__title
              h3.block-subtitle Кто я 
            hr.line-title
            .user-description__text.text-content
              p Я веб разработчик из Минска. Мне 25 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              br
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about__right

      .about__right-title
        h3.block-subtitle.block-subtitle_max-weight Чем я могу быть вам полезен
      hr.line-title
      .about__right-description.text-content
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about__right-content

        #skills-container
        
                  
  section.map
    .google-map#map
    .contacts
        h3.contacts__title
          .block-subtitle Контакты
        hr.line-title
        address.contacts__data
          ul.contacts__list
              li.contacts__item.contacts-row
                a(href='skype:chini_chi').contacts-row.contacts__link chini_chi
                  +icon('skype', 'contacts__icon-img contacts__icon-img_skype')
              li.contacts__item.contacts-row
                a(href='mailto:chini.chy@gmail.com').contacts-row.contacts__link chini.chy@gmail.com
                  +icon('envelope2', 'contacts__icon-img contacts__icon-img_mail')
              li.contacts__item.contacts-row
                a(href='tel:+375445792603').contacts-row.contacts__link +375(44)579-26-03
                  +icon('phone2', 'contacts__icon-img contacts__icon-img_phone')
              li.contacts__item.contacts-row
                a(href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%A6%D0%BD%D1%8F%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+5,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA/@53.9224778,27.5799215,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbcfa01166b0d3:0xa512b4091abf9885!8m2!3d53.9224747!4d27.5821102" target="_blank").contacts-row.contacts__link ул.Цнянская 5
                  +icon('map_marker', 'contacts__icon-img contacts__icon-img_marker')            
              

  


