extends ../blog.layout.pug

block variables
  - var title = 'blog'

block scripts
  script(src='blog.bundle.js')  
   
block content
    include ../common/preloader.pug
    .container.blog#blog

      nav.blog-nav
        .blog-nav__list-wrap
          ul.blog-nav__list
            -
              var blogNav = [
                ['Самое важное в SASS'],
                ['Приемы в верстке, без которых не обходиться ни один сайт'],
                ['Самый необходимый набор Gulp плагинов'],
                ['Почему я выбрал Pug'],

                
              ]
            
            each items in blogNav
              li.blog-nav__item
                a(href='').blog-nav__link #{items}

          .trigger
            +icon('arrow_down', 'nav__svg')        

      .blog-articles
        ul.articles__list
            li.articles__item
              h2.articles__title(name='Самое важное в SASS') Самое важное в SASS
              time(pubdate datetime="2018-11-13").articles__data 13 ноября 2018
              .articles__content.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                br
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                br
              .articles__line
              
            li.articles__item
              h2.articles__title Приемы в верстке, без которых не обходиться ни один сайт
              time(pubdate datetime="2018-11-1").articles__data 13 ноября 2018
              .articles__content.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                br
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.              
              .articles__line

            li.articles__item
              h2.articles__title Самый необходимый набор Gulp плагинов
              time(pubdate datetime="2018-08-01").articles__data 13 ноября 2018
              .articles__content.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                br
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.         
              .articles__line

            li.articles__item
              h2.articles__title Почему я выбрал Pug
              time(pubdate datetime="2018-12-23").articles__data 13 ноября 2018
              .articles__content.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                br
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                