extends ../work.layout.pug

block variables
  - var title = 'my works';

block scripts
  script(src='works.bundle.js')  

block content
    include ../common/preloader.pug
    section.works#works
        .title
            h2.block-title мои работы
            +icon('works_header', 'works-header__svg')
        hr.line-title
            
        .works-slider_container
            #slider-component

                  
    section.speak
        .speak-bg
        img(src='assets/images/list1.png' alt="leaf").leaf-1 
        img(src='assets/images/list2.png' alt="leaf").leaf-2 
        img(src='assets/images/list3.png' alt="leaf").leaf-3 
        .title
            h2.block-title.block-title_size что обо мне говорят
            +icon('about_header', 'works-header__svg')
        hr.line-title
            
        .speak-comment
            .speak-comment__user
                ul.speak-comment__user-list
                    li.speak-comment__user-item
                        img(src='assets/images/users/koval.jpg' alt="user").speak-comment__user-avatar.card__img
                    li.speak-comment__user-item
                        +icon('quotes', 'quotes__svg')
                        .speak-comment__user-text
                            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    li.speak-comment__user-item
                        .speak-comment__user-name
                            .user-name Ковальчук Дмитрий
                            .user-prof - основатель Loftschool

            .speak-comment__user 
                 ul.speak-comment__user-list
                    li.speak-comment__user-item
                        img(src='assets/images/users/saban.jpg' alt="user").speak-comment__user-avatar.card__img
                    li.speak-comment__user-item
                        +icon('quotes', 'quotes__svg')  
                        .speak-comment__user-text
                            p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    li.speak-comment__user-item
                        .speak-comment__user-name
                            .user-name Сабанцев Владимир
                            .user-prof - преподователь Loftschool
                
        .speak__form
            form(action="test.php" method="post").form#order-form 
                h3.block-subtitle связаться со мной
                hr.line-title
                input(required type="text" placeholder="Имя" name="user-name").form__user-name#user-name  
                input(required type="email" placeholder="Email" name="user-email").form__user-email#user-email  
                textarea(placeholder="Ваше сообщение" name="comment").form__user-comment#comment
                ul.btn__list
                        li.btn__item
                            button.btn__send(type='submit')
                                span.btn__title Отправить
                        li.btn__item
                            button.btn__reset(type='reset')
                                span.btn__title Очистить
        a.arrow-up
            +icon('arrow_up', 'up__svg')                        

