.about__right {
    width: 50%;
    padding: 40px 40px 47px 35px;
    background-color: #f4f5f0;
    @include tablets {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include phones {
        height: 100%;
    }
}

.block-subtitle_max-weight {
    max-width: 295px;
}

.about__right-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__right-description {
    margin-bottom: 50px;
    @include tablets {
        max-width: 410px;
        text-align: center;
    }
}

.about__right-content {
    display: flex;
    flex-direction: row;
}