script(type="text/x-template")#slider
    .works-slider
        info(
          :work="currentWork"
        )
        display(
          :work="currentWork"
        )
        buttons(
          :works="works"
          :currentIndex="currentIndex"
          @slide="handleSlide"
        )
    

template#slider-info
    .works-slider__info
        .works-slider__info-title
            h3.block-subtitle {{work.title}}
        hr.line-title.line-title_margin
        .works-slider__info-skills {{work.skills}}
        .works-slider__info-btn
            a(:href="work.link" target="_blank").works-slider__info-btn-link Посмотреть сайт
                +icon('link', 'link__svg')

template#slider-display
  .works-slider__big-img
    img(:src="work.photo").works-slider__img

template#slider-buttons
  .works-slider__buttons
    .works-slider__button(@click="slide('prev')")
        .works-slider__button-img-wrap
            +icon('arrow_down', 'prev__svg')
        img(:src="getReqImage('prev').photo", alt="").works-slider__prev-img
    .works-slider__button(@click="slide('next')")
        .works-slider__button-img-wrap
            +icon('arrow_up', 'next__svg')
        img(:src="getReqImage('next').photo", alt="").works-slider__next-img