ul.card__list
    li.card__item
        img(src='assets/images/users/artem.jpg' alt="avatar").card__img
    li.card__item
        h2.card__title Чинчук Артем
    li.card__item
        p.card__desc Личный сайт веб разработчика