.full-screen
  .conteiner.full-screen__wrap
  #close.humburger-menu.humburger-menu_close
    .humburger-menu__layer.humburger-menu__layer_close1
    .humburger-menu__layer.humburger-menu__layer_close2
.full-screen__nav
  ul.full-screen__list
    li.full-screen__item
      a.full-screen__link(href='') мои работы
    li.full-screen__item
      a.full-screen__link(href='') обо мне
    li.full-screen__item
      a.full-screen__link(href='') блог
    li.full-screen__item
      a.full-screen__link(href='') авторизация