.full-menu
    ul.full-menu__list
      li.full-menu__item
        a.full-menu__link(href='./work.html') мои работы
        hr.line-menu
      li.full-menu__item
        a.full-menu__link(href='./about.html') обо мне
        hr.line-menu
      li.full-menu__item
        a.full-menu__link(href='./blog.html') блог
        hr.line-menu
      li.full-menu__item
        a.full-menu__link(href='./index.html') авторизация
        hr.line-menu