header.header.header-work

    .blocks-top
        include ../common/social.pug
        .hamburger
            +icon('hamburger', 'hamburger__svg')
    .portfolio__header
        +icon('portfolio_header', 'portfolio__svg')       
    .blog__face
        include ../common/card-list.pug
    .portfolio__header
        +icon('portfolio_header', 'portfolio__svg')
    .arrow-down
        +icon('arrow_down', 'down__svg')    