header.header.header-blog
    .blocks-top
        include ../common/social.pug
        .hamburger
            +icon('hamburger', 'hamburger__svg') 
    
    .blog__face
        img(src='assets/images/artem.jpg').card__img
        .blog__title Блог
        .card__line
        p.card__desc_blog Статьи которые я написал    

    .portfolio__header_blog
        +icon('blog_header', 'blog-bg__svg')
    
    .arrow-down
        +icon('arrow_down', 'down__svg') 

        