header.header#header
    
    .blocks-top
        .social__wrap
            include ../common/social.pug
    include ../common/full-menu.pug
    #app.ham-wrap      
        include ../common/hamburger.pug
    .portfolio__header
        +icon('portfolio_header', 'portfolio__svg')       
    .blog__face
        include ../common/card-list.pug
    .portfolio__header
        +icon('portfolio_header', 'portfolio__svg')
    a.arrow-down.arrow-down_about
        +icon('arrow_down', 'down__svg')    
    .triangle
        .triangle__left
        .triangle__right
         

    