header.header.header-blog
    .blocks-top
        .social__wrap
            include ../common/social.pug
    include ../common/full-menu.pug
    #app.ham-wrap      
        include ../common/hamburger.pug
    
    .blog__face
        img(src='assets/images/users/artem.jpg' alt="avatar").card__img
        .blog__title Блог
            +icon('blog_header', 'blog-bg__svg')
        .card__line
        p.card__desc_blog Статьи которые я написал    
        
    
    .arrow-down.arrow-down_blog
        +icon('arrow_down', 'down__svg')
    .triangle
        .triangle__left.triangle_color
        .triangle__right.triangle_color


        