ul.social__list
    li.social__item
        a.social__link(href='https://vk.com/sneakerlove')
            +icon('vk', 'social__icon social__icon_vk')
    li.social__item
        a.social__link(href='https://github.com/homeworklftscl')
            +icon('github', 'social__icon social__icon_git')
    li.social__item
        a.social__link(href='#')
            +icon('in', 'social__icon social__icon_in')              