:root {
    font-size: 16Px;
    @include desktop {
        font-size: 15Px;
    }
    @include laptop {
        font-size: 15Px;
    }
    @include tablets {
        font-size: 14Px;
    }
    @include phones {
        font-size: 13Px;
    }
    @include m-phones {
        font-size: 12Px;
    }
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 1.42;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.is-open {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    position: relative;
    background-color: #faf8f0;
}

.container {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 185px;
    @include laptop {
        padding-bottom: 230px;
    }
    @include tablets {
        margin: 0;
        width: 90%;
    }
    @include phones {
        padding-bottom: 360px;
    }
}

section {
    height: 100vh;
    min-height: 650px;
    width: 100%;
}

hr {
    margin: 0;
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}