.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    margin-bottom: 20px;
    display: flex;
    @include tablets {
        height: 47px;
    }
    @include m-phones {
        margin-bottom: 15px;
    }
}

.form__icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efe9;
    border-radius: 30px 0 0 30px
}

.form__login,
.form__pass {
    width: 100%;
    height: 100%;
    border-radius: 0 30px 30px 0;
    outline: none;
    border: 1px solid transparent;
    padding: 16px 20px;
    &:focus {
        border: 1px solid #4d8936;
    }
    &::-webkit-input-placeholder {
        color: rgba(93, 90, 85, 0.5);
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    &::-moz-placeholder {
        transition: color 0.5s;
        color: rgba(93, 90, 85, 0.5);
    }
    &:focus::-moz-placeholder {
        color: transparent;
        transition: color 0.5s;
    }
}

.input__svg {
    width: 17px;
    height: 17px;
    fill: #c5ccce;
}

.form__radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form__check_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.form__check {
    display: flex;
}

.check__style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 2px;
    margin-right: 10px;
    transition: .3s;
}

.check__svg {
    width: 12px;
    height: 9px;
    fill: white;
}

.check:checked+.check__style {
    background-color: #6c9c5a;
}

.form__query {
    font-size: 15px;
    margin-bottom: 10px;
}

.form__radio_yes,
.form__radio_no {
    display: flex;
}

.form__radio_yes {
    margin-right: 40px;
}

.radio,
.check {
    display: none;
}

.radio__style {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
    margin-right: 10px;
    &:before {
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 5px;
        left: 5px;
        background-color: #6c9c5a;
        transform: scale(0);
        transition: .4s;
    }
}

.radio[type="radio"]+.radio__style {
    border-radius: 50%;
}

.radio[type="radio"]+.radio__style:before {
    border-radius: 50%;
}

.radio:checked+.radio__style:before {
    transform: scale(1);
}

.radio:checked~.name {
    color: #6c9c5a;
}

.name {
    transition: .5s;
}