.footer__info,
.footer__social,
.footer__quote {
    min-height: 87px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px 0;
    padding: 0 30px;
    &:first-child {
        border-left: none;
    }
}

.footer__info_text {
    max-width: 350px;
}

.footer__quote_text {
    max-width: 480px;
    opacity: .7;
    font-style: italic;
}

.footer__quote_text,
.footer__quote_name,
.footer__info_text {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

.footer__quote_name {
    font-weight: 700;
    font-style: italic;
}

.footer__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.footer__item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}

.footer__link {
    transition: .5s;
    color: white;
    text-decoration: none;
    font-weight: 700;
    &:hover {
        color: #4d8936;
    }
}

.social__icon_footer {
    &:hover {
        fill: white;
    }
}